<div class="container mt-5 mb-5">
	<h1>Editing <%= @semester.name %></h1>
	<%= render 'form', semester: @semester %>
	<div class="mt-5">
		<%= link_to 'Back', semesters_path, {class: "mt-5"} %>
	</div>
</div>