<!doctype html>

<html lang="en">

<body>
    <div class="container">
        <h1 class="mt-5 mb-5">Please Sign In</h1>
        <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, {class:"btn btn-primary"} %>
    </div>
</body>
</html>




