<div class="container">
<%= form_with(model: user) do |form| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
  
        <ul>
          <% user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="mb-3">
        <label for="attendance_password" class="form-label attendance_password_label">Password</label>
        <input type="password" class="form-control attendance_password" id="attendance_password">
        <div id="passwordHelp" class="form-text">Enter the password the officers have shared with you.</div>
    </div>
   
    <div class="actions">
      <%= form.submit "Submit", {class: "btn btn-primary"} %>
    </div>
  <% end %>
</div>