<div class="container mt-5 mb-5">
    <%= puts @user.full_name %>
    <%= puts @user.role %>
    
    <h1>Attendance</h1>
    <%= render 'form', user: @user %>
    <div class="mt-5">
    <%= link_to 'Back', user_path(current_user.id), {class: "mt-5"} %>
    </div>
</div>

