<% content_for(:body_attributes) do %>
  data-turbolinks="false"
<% end %>
<% content_for (:for_head) do %>
  <meta name="turbolinks-visit-control" content="reload">
<% end %>



<div class="container mt-5 px-5">
    <!-- <div class='alert alert-danger'></div> -->
    <h1>Pay Club Dues</h1>
    <h2>Dues are $20.00</h2>
	<% if ENV['PAYPAL_CLIENT_ID'] != ''%>
    	<script src="https://www.paypal.com/sdk/js?client-id=<%= ENV['PAYPAL_CLIENT_ID'] %>&currency=USD&enable-funding=venmo"></script>
	<% else %>
		<div id="error_explanation">
			Payment cannot be accepted at this time because the payment destination has not been set.<br>
			Please tell a treasurer or president if you encounterd this error. 
		</div>
	<% end %>
    <!-- Set up a container element for the button -->
    <div id="paypal-button-container"></div>
    <script>
      paypal.Buttons({
        // Sets up the transaction when a payment button is clicked
        createOrder: (data, actions) => {
          return actions.order.create({
            purchase_units: [{
              amount: {
                value: '20.00' // Can also reference a variable or function
              }
            }]
          });
        },
        // Finalize the transaction after payer approval
        onApprove: (data, actions) => {
          return actions.order.capture().then(function(orderData) {
            }).then(function(res) {
              const csrf = document.querySelector("meta[name='csrf-token']").getAttribute("content");
              fetch('/users/<%= @user.id %>/checkout', {
                method: 'POST',
                redirect: 'follow',  
                headers: {
                  'Content-Type': 'application/json',
                  'X-CSRF-Token': csrf
                },
                body: JSON.stringify({
                  orderID: data.orderID
                })
              }
              ).then(function(captureData) {
                if (captureData.error === 'INSTRUMENT_DECLINED'){
                  return actions.restart();
                } else{
                  window.location.replace('/users/<%= @user.id %>/thank_you');
                }
              });
          });
        },
        onError: function (err) {
          console.log(err);
        },
        onShippingChange: function (e){
          // this forces popup
        }
      }).render('#paypal-button-container');
    </script>