<div class="container mt-5 mb-5">
    <h1>Editing <%= @event.name %></h1>

    <%= render 'form', event: @event %>
    <div class="mt-5">
    <%= link_to 'Back', events_path, {class: "mt-5"} %>
    </div>
</div>
