<div class="container">
	<%= form_with(model: @event) do |form| %>
		<% if @event.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@event.errors.count, "error") %> prevented this notification from being sent. </h2>

				<ul>
					<% @event.errors.each do |error| %>
						<li><%= error.full_message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		
	<% end %>
</div>