<body>
    <div class = "container">
        <h1 class = "text-center">About Us</h1>
        <p class="text-center justify-content-center">
        The TAMU Society of Amateur Thespians (TSAT) is a thespian troupe at Texas A&M University.  We are currently one of only two student-run theatre organizations on campus. Students of all majors, classifications, and experience levels are welcome!  We have been building our organization's reputation and membership since Fall 2016.  We aim to teach willing learners the basics of theatre through our meeting workshops and provide ample opportunities each semester to gain experience in the world of theatre through student-led performances and member showcases.
        <br>
        <br>
        <br>
        If you are interested in learning more about TSAT, view our contact page to see our social media platforms.  Feel free to e-mail us at tamuthespians@gmail.com to learn more about how to be involved in TSAT.
        </p>
    </div>
    
</body>