<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Sign In</title>

</head>

<body>
    <div class="container">
        <h1 class="mt-5 mb-5">You're Logged In</h1>
        <%= link_to "Sign Out", destroy_user_session_path,  {class:"btn btn-primary"}  %>
    </div>
</body>
</html>